body {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	color: white;
	font-family: 'Chela One', cursive;
	font-family: 'Asap', sans-serif;
}

button {
	padding: 0.5em;
	color: white;
	border: none;
	background-color: #1C99D1;
	cursor: pointer;
}

textarea {
	padding: 0.5em;
	width: 85%;
	border: 1px solid white;
	background-color: transparent;
	resize: none;
}

.card {
	padding: 1.5em;
	width: 75%;
	height: auto;
	/*background: rgb(256, 256, 256, 0.5);*/
	background-color: rgb(26,233,230,0.25);
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	text-align: center;
}

#getDetails {
	padding: 1.5em;
	text-align: center;
}

#SolarHeading {
	text-align: center;
	padding: 1.5em;
	color: #ED6315;
	background-color: #FFD264;
	margin-top: 0.5em;
	font-size: 2.5em;
	font-family: 'Chela One', cursive;
}

#SolarContent {
	text-align: center;
	padding: 1.5em;
	color: #ED6315;
	background-color: #FFD264;
	margin-top: 0.5em;
	font-size: 1.3em;
	font-family: 'Asap', sans-serif;
}

#MonokaiHeading {
	text-align: center;
	padding: 1.5em;
	color: #FF0036;
	margin-top: 0.5em;
	font-size: 2.5em;
	font-family: 'Chela One', cursive;
}
#MonokaiContent {
	text-align: center;
	padding: 1.5em;
	color: #F8E017;
	margin-top: 0.5em;
	font-size: 1.3em;
	font-family: 'Asap', sans-serif;
}